services:
  app:
    image: npsserver/nps:latest
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      SECRET_KEY: ${SECRET_KEY}
      ALGORITHM: ${ALGORITHM}
      ACCESS_TOKEN_EXPIRE_MINUTES: ${ACCESS_TOKEN_EXPIRE_MINUTES}
      MOCK_USER_ID: ${MOCK_USER_ID}
      MOCK_USERNAME: ${MOCK_USERNAME}
      MOCK_HASHED_PASSWORD: ${MOCK_HASHED_PASSWORD}
    ports:
      - "8000:8000"
    volumes:
      - ./uploaded_photos:/app/uploaded_photos

  db:
    image: postgres:17.0
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}  
      POSTGRES_USER: ${POSTGRES_USER}         
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data 
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  db_data: 
   